.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--background-image);
}

.about-text {
  padding-top: 0.5rem;
}

.panel {
  display: flex;
  padding: 4rem;
}
.panel-content {
  padding: 2rem;
  width: 50%;
}

.typing-skills {
  margin-top: 1.6rem;
  margin-left: 25%;
}

@media screen and (max-width: 600px) {
  .typing-skills {
    margin-top: 0;
    margin-left: 0;
    padding: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .panel {
    flex-direction: column;
    padding: 0.5rem;
  }
  .panel-content {
    width: 100%;
    padding: 1rem;
  }
}

.avatar {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}
.avatar-container {
  display: flex;
}

.headline-name {
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 2rem;
}

.headline {
  padding-left: 1rem;
}
