footer {
  color: var(--text-color);
  text-align: center;
  padding: 1rem 0;
  text-align: center;
  border-top: solid 0.01rem var(--text-color);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

p {
  margin: 0;
  font-size: 1rem;
}
