.theme-toggle {
  background-color: var(--background-image);
  color: var(--text-color);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.theme-toggle:hover {
  background-color: var(--text-color);
  transform: scale(1.05);
  color: var(--inverse-color);
}
