:root {
  /* Light Theme */
  --background-color: #f5f1f1;
  --background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  --text-color: #050606;
  --primary-color: #bb86fc;
  --secondary-color: #03dac6;
}

[data-theme="dark"] {
  /* Dark Theme */
  --background-color: #0e0d0d;
  --background-image: linear-gradient(-20deg, #010101 0%, #0a041f 100%);
  --text-color: #fcf9f9;
  --primary-color: linear-gradient(to right, #6441A5 0%, #2a0845  51%, #6441A5  100%);
  --secondary-color: #6c757d;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#tsparticles{
  z-index: 0;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  transform: translateY(.7rem); /* Start slightly below */

}

section,
header {
  min-height: 100vh; /* Each section and header takes at least the full viewport height */
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
  padding: 2rem 0; /* Add some padding */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

button {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color:var(--text-color);            
  box-shadow: 0 0 20px val(--background-color);
  border-radius: 10px;
  display: block;
}

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: val(--secondary-color);
  text-decoration: none;
}


